<!--ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Stakeholder Information</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content padding>
<div  [hidden]="shouldHideTable">
<br>
<table>
		<thead>
		<tr>
			<th width=10% text-align="center">S No.</th>
			<th width=30% text-align="center">Stakeholder</th>
			<th width=10% text-align="center">Total Members</th>
			<th width=10% text-align="center">Year Of Formation</th>
			<th width=20% text-align="center">SPOC Name</th>
			<th width=20% text-align="center">Contact Number</th>
		</tr>
		</thead>
		<tbody>
	<tr>
		<td> 1
		<td> SDMC/SMC/SBC</td>
		<td>{{ st.sdmcTotal }}</td>
		<td>{{ st.sdmcYear }}</td>
		<td>{{ st.sdmcSpoc }}</td>
		<td>{{ st.sdmcContact }}</td>
	</tr>	
<tr>
		<td> 2
		<td> Alumni Assosciation</td>
		<td>{{ st.alumniTotal }}</td>
		<td>{{ st.alumniYear }}</td>
		<td>{{ st.alumniSpoc }}</td>
		<td>{{ st.alumniContact }}</td>
	</tr>	
<tr>
		<td> 3
		<td> School Cabinet</td>
		<td>{{ st.schoolCabinetTotal }}</td>
		<td>{{ st.schoolCabinetYear }}</td>
		<td>{{ st.schoolCabinetSpoc }}</td>
		<td>{{ st.schoolCabinetContact }}</td>
	</tr>
	<tr>
		<td> 4
		<td> Parents Teachers Assosciation</td>
		<td>{{ st.parentsTeachersTotal }}</td>
		<td>{{ st.parentsTeachersYear }}</td>
		<td>{{ st.parentsTeachersSpoc }}</td>
		<td>{{ st.parentsTeachersContact }}</td>
	</tr>
	<tr>
		<td> 5
		<td> POCSO</td>
		<td>{{ st.pocsoTotal }}</td>
		<td>{{ st.pocsoYear }}</td>
		<td>{{ st.pocsoSpoc }}</td>
		<td>{{ st.pocsoContact }}</td>
	</tr>		
</tbody>
	</table>
</div>

<div [hidden] = "!shouldHideTable">
  <h4>Stakeholder: SDMC/SMC/SBC</h4>      
   <!--<button ion-button (click)="saveFunc()" block>Save</button> -->

 <ion-item>
          <ion-label>Total Members</ion-label>
          <ion-input type="number" [(ngModel)]="st.sdmcTotal" name= "sdmcTotal" placeholder="Enter Input"></ion-input>
  </ion-item>
   <ion-item>
          <ion-label>Year Of Formation</ion-label>
          <ion-input name = "sdmcYear" [(ngModel)]="st.sdmcYear" placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
          <ion-label>SPOC Name</ion-label>
          <ion-input name ="sdmcSpoc" [(ngModel)]="st.sdmcSpoc" placeholder="Enter Input"></ion-input>
  </ion-item>
<ion-item>
          <ion-label>Contact Number</ion-label>
          <ion-input name ="sdmcContact" [(ngModel)]="st.sdmcContact" placeholder="Enter Input"></ion-input>
  </ion-item>
  <br>
  <h4>Stakeholder: Alumni Association</h4>
 <ion-item>
          <ion-label>Total Members</ion-label>
          <ion-input type="number" name= "alumniTotal" [(ngModel)]="st.alumniTotal" placeholder="Enter Input"></ion-input>
  </ion-item>
   <ion-item>
          <ion-label>Year Of Formation</ion-label>
          <ion-input name = "alumniYear" [(ngModel)]="st.alumniYear" placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
          <ion-label>SPOC Name</ion-label>
          <ion-input name ="alumniSpoc" [(ngModel)]="st.alumniSpoc" placeholder="Enter Input"></ion-input>
  </ion-item>
<ion-item>
          <ion-label>Contact Number</ion-label>
          <ion-input name ="alumniContact" [(ngModel)]="st.alumniContact" placeholder="Enter Input"></ion-input>
  </ion-item> <br>
   <h4>Stakeholder: School Cabinet</h4>
 <ion-item>
          <ion-label>Total Members</ion-label>
          <ion-input type="number" [(ngModel)]="st.schoolCabinetTotal" name= "schoolCabinetTotal" placeholder="Enter Input"></ion-input>
  </ion-item>
   <ion-item>
          <ion-label>Year Of Formation</ion-label>
          <ion-input name = "schoolCabinetYear"[(ngModel)]="st.schoolCabinetYear"  placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
          <ion-label>SPOC Name</ion-label>
          <ion-input name ="schoolCabinetSpoc" [(ngModel)]="st.schoolCabinetSpoc" placeholder="Enter Input"></ion-input>
  </ion-item>
<ion-item>
          <ion-label>Contact Number</ion-label>
          <ion-input name ="schoolCabinetContact" [(ngModel)]="st.schoolCabinetContact" placeholder="Enter Input"></ion-input>
  </ion-item> <br>
   <h4>Stakeholder: Parents Teachers Association</h4>
 <ion-item>
          <ion-label>Total Members</ion-label>
          <ion-input type="number" name= "parentsTeachersTotal" [(ngModel)]="st.parentsTeachersTotal" placeholder="Enter Input"></ion-input>
  </ion-item>
   <ion-item>
          <ion-label>Year Of Formation</ion-label>
          <ion-input name = "parentsTeachersYear" [(ngModel)]="st.parentsTeachersYear" placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
          <ion-label>SPOC Name</ion-label>
          <ion-input name ="parentsTeachersSpoc" [(ngModel)]="st.parentsTeachersSpoc" placeholder="Enter Input"></ion-input>
  </ion-item>
<ion-item>
          <ion-label>Contact Number</ion-label>
          <ion-input name ="parentsTeachersContact" [(ngModel)]="st.parentsTeachersContact" placeholder="Enter Input"></ion-input>
  </ion-item> 
<br>
  <h4>Stakeholder: POCSO</h4>
 <ion-item>
          <ion-label>Total Members</ion-label>
          <ion-input type="number" name= "pocsoTotal" [(ngModel)]="st.pocsoTotal" placeholder="Enter Input"></ion-input>
  </ion-item>
   <ion-item>
          <ion-label>Year Of Formation</ion-label>
          <ion-input name = "pocsoYear" [(ngModel)]="st.pocsoYear" placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
          <ion-label>SPOC Name</ion-label>
          <ion-input name ="pocsoSpoc" [(ngModel)]="st.pocsoSpoc" placeholder="Enter Input"></ion-input>
  </ion-item>
<ion-item>
          <ion-label>Contact Number</ion-label>
          <ion-input name ="pocsoContact" [(ngModel)]="st.pocsoContact" placeholder="Enter Input"></ion-input>
  </ion-item>
</div>
</ion-content>
