<!--ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>teachers-profile</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content padding>
<br>
<div  [hidden]="shouldHideTable"> 
<table>
		<thead>
		<tr>
			<th colspan="4">Full Time</th>
			<th colspan="4">Part Time</th>
			<th colspan="2">Art & Craft</th>
			<th colspan="2">PE</th>
			<th colspan="2">Computers</th>
			<th colspan="2">Total</th>
		</tr>
		
		
	<tr>
			<th colspan="2" class="second-header">Male</th>
			<th colspan="2" class="second-header">Female</th>
			<th colspan="2" class="second-header">Male</th>
			<th colspan="2" class="second-header">Female</th>
			<th colspan="2" class="second-header"></th>
			<th colspan="2" class="second-header"></th>
			<th colspan="2" class="second-header"></th>
			<th colspan="2" class="second-header"></th>
	</tr>
	</thead>
<tbody>	
		<tr>
			<td colspan="2">{{ te.maleFulltimetotal }}</td>
			<td colspan="2">{{ te.femaleFulltimetotal }}</td>
			<td colspan="2">{{ te.maleParttimetotal }}</td>
			<td colspan="2">{{ te.femaleParttimetotal }}</td>
			<td colspan="2">{{ te.arttotal }}</td>
			<td colspan="2">{{ te.petotal }}</td>
			<td colspan="2">{{ te.comptotal }}</td>
			<td colspan="2">{{ te.totalTeachers }}</td>
		</tr>
	
</tbody>
	</table>
</div>

<div [hidden] = "!shouldHideTable">

  <!--<button ion-button (click)="saveFunc()" block>Save</button> --> 
  <ion-item>
    <ion-label>Male Full Time Teachers</ion-label>
    <ion-input [(ngModel)]="te.maleFulltimetotal" name = "maleFulltimetotal" placeholder="#"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Female Full Time Teachers</ion-label>
    <ion-input [(ngModel)]="te.femaleFulltimetotal" name = "femaleFulltimetotal" placeholder="#"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Male Part Time Teachers</ion-label>
    <ion-input [(ngModel)]="te.maleParttimetotal" name = "maleParttimetotal" placeholder="#"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Female Part Time Teachers</ion-label>
    <ion-input [(ngModel)]="te.femaleParttimetotal" name = "femaleParttimetotal" placeholder="#"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Art and Craft Teachers</ion-label>
    <ion-input [(ngModel)]="te.arttotal" name = "arttotal" placeholder="#"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Physical Education Teachers</ion-label>
    <ion-input [(ngModel)]="te.petotal" name = "petotal" placeholder="#"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Computer Teachers</ion-label>
    <ion-input [(ngModel)]="te.comptotal" name = "comptotal" placeholder="#"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Total Teachers</ion-label>
    <ion-input [(ngModel)]="te.totalTeachers" name = "totalTeachers" placeholder="#"></ion-input>
  </ion-item>
  </div>
</ion-content>
