<!--ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>education department funcationaries</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content padding>
        
<div [hidden]="shouldHideTable">
<br>
<table>
		<thead>
		<tr>
			<th width=10% text-align="center">S No.</th>
			<th width=30% text-align="center">Designation</th>
			<th width=20% text-align="center">Name</th>
			<th width=20% text-align="center">Contact Details</th>
			<th width=20% text-align="center">Email-Id</th>
		</tr>
		</thead>
		<tbody>
	<tr>
		<td> 1
		<td> HM</td>
		<td>{{ edu.hmName }}</td>
		<td>{{ edu.hmContact }}</td>
		<td>{{ edu.hmEmail }}</td>
		
	</tr>	
<tr>
		<td> 2
		<td> In-Charge HM</td>
		<td>{{ edu.hmInChargeName }}</td>
		<td>{{ edu.hmInChargeContact }}</td>
		<td>{{ edu.hmInChargeEmail }}</td>
	</tr>	
<tr>
		<td> 3
		<td> CRP</td>
		<td>{{ edu.crpName }}</td>
		<td>{{ edu.crpContact }}</td>
		<td>{{ edu.crpEmail }}</td>
	</tr>
	<tr>
		<td> 4
		<td> BRC</td>
		<td>{{ edu.brcName }}</td>
		<td>{{ edu.brcContact }}</td>
		<td>{{ edu.brcEmail }}</td>
	</tr>
	<tr>
		<td> 5
		<td> BEO/CEO</td>
		<td>{{ edu.beoName }}</td>
		<td>{{ edu.beoContact }}</td>
		<td>{{ edu.beoEmail }}</td>
	</tr>		
</tbody>
	</table>
</div>

<div [hidden]="!shouldHideTable">
  <h4>Designation: HM</h4>      
   <!--<button ion-button (click)="saveFunc()" block>Save</button> -->

 <ion-item>
          <ion-label>Name</ion-label>
          <ion-input type="text" [(ngModel)] = "edu.hmName" name= "hmName" placeholder="Enter Input"></ion-input>
  </ion-item>
   <ion-item>
          <ion-label>Contact Details</ion-label>
          <ion-input  [(ngModel)] = "edu.hmContact" name = "hmContact" placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
          <ion-label>E-mail ID</ion-label>
          <ion-input [(ngModel)] = "edu.hmEmail" name = "hmEmail" placeholder="Enter Input"></ion-input>
  </ion-item>
  <br>
  <h4>Designation: In Charge HM</h4>
 <ion-item>
          <ion-label>Name</ion-label>
          <ion-input [(ngModel)] = "edu.hmInChargeName" name = "hmInChargeName" placeholder="Enter Input"></ion-input>
  </ion-item>
   <ion-item>
          <ion-label>Contact Details</ion-label>
          <ion-input [(ngModel)] = "edu.hmInChargeContact" name = "hmInChargeContact" placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
          <ion-label>E-mail ID</ion-label>
          <ion-input [(ngModel)] = "edu.hmInChargeEmail" name = "hmInChargeEmail" placeholder="Enter Input"></ion-input>
  </ion-item>
  <br>
   <h4>Designation: CRP</h4>
 <ion-item>
          <ion-label>Name</ion-label>
          <ion-input [(ngModel)] = "edu.crpName" name = "crpName" placeholder="Enter Input"></ion-input>
  </ion-item>
   <ion-item>
          <ion-label>Contact Details</ion-label>
          <ion-input [(ngModel)] = "edu.crpContact" name = "crpContact" placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
          <ion-label>E-mail ID</ion-label>
          <ion-input [(ngModel)] = "edu.crpEmail" name = "crpEmail" placeholder="Enter Input"></ion-input>
  </ion-item>
  <br>
   <h4>Designation: BRC</h4>
 <ion-item>
          <ion-label>Name</ion-label>
          <ion-input [(ngModel)] = "edu.brcName" name = "brcName" placeholder="Enter Input"></ion-input>
  </ion-item>
   <ion-item>
          <ion-label>Contact Details</ion-label>
          <ion-input [(ngModel)] = "edu.brcContact" name = "brcContact" placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
          <ion-label>E-mail ID</ion-label>
          <ion-input [(ngModel)] = "edu.brcEmail" name = "brcEmail" placeholder="Enter Input"></ion-input>
  </ion-item>
  <br>
  <h4>Designation: BEO/CEO</h4>
 <ion-item>
          <ion-label>Name</ion-label>
          <ion-input [(ngModel)] = "edu.beoName" name = "beoName" placeholder="Enter Input"></ion-input>
  </ion-item>
   <ion-item>
          <ion-label>Contact Details</ion-label>
          <ion-input [(ngModel)] = "edu.beoContact" name = "beoContact" placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
          <ion-label>E-mail ID</ion-label>
          <ion-input [(ngModel)] = "edu.beoEmail" name = "beoEmail" placeholder="Enter Input"></ion-input>
  </ion-item>
  </div>

</ion-content>
