<ion-header>
  <ion-toolbar>
    <ion-title>School Information</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-tabs tab="school-profile">
		<ion-tab-bar slot="top" color="primary">
	    
		    <ion-tab-button tab="school-profile">
		      <ion-icon name="school"></ion-icon>
		      <ion-label>School Profile</ion-label>
		    </ion-tab-button>

		    <ion-tab-button tab="student-profile">
		      <ion-icon name="contacts"></ion-icon>
		      <ion-label>Student Profile</ion-label>
		    </ion-tab-button>

		    <ion-tab-button tab="teachers-profile">
		      <ion-icon name="people"></ion-icon>
		      <ion-label>Teachers Profile</ion-label>
				</ion-tab-button>
				
				<ion-tab-button tab="education-dept">
		      <ion-icon name="home"></ion-icon>
		      <ion-label>Education Department</ion-label>
		    </ion-tab-button>

		    <ion-tab-button tab="stakeholders-profile">
		      <ion-icon name="person"></ion-icon>
		      <ion-label>Stakeholders Profile</ion-label>
		    </ion-tab-button>

		     <ion-tab-button tab="other-info">
		      <ion-icon name="information-circle"></ion-icon>
		      <ion-label>Other Info</ion-label>
		    </ion-tab-button>

		</ion-tab-bar>
	</ion-tabs>
	<!-- <ion-tabs>
		<ion-tab-bar slot="bottom">
		    <ion-tab-button tab="submit" color="secondary">
		      <ion-icon name="save"></ion-icon>
		      <ion-label>Submit</ion-label>
		    </ion-tab-button>
		</ion-tab-bar> 
	</ion-tabs>	 -->	   	
</ion-content>
