ion-tab-bar {
	overflow-x: scroll;
	justify-content: left;
	/*height: 80px;*/
	margin-bottom: -1px;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.tab-selected {
	background: #3B5999;
} 
