.otherInfoItem{
	height: 150px;
	width: 100%;
}

ion-textarea{
	height: 116px;
	width:100%;
    background: #c1c4cd;
}

 .headerTextColor{
    text-color: #DEE2DD;
 }

.toolbarStyle{
    background: #3B5999;
}
ion-label{
    padding: 12px;
}
 .otherlabel{
	font-size: 1.2em;
}



