<!--ion-header>
  <ion-toolbar>
    <ion-title>otherInfo</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content padding>
<ion-item class="otherInfoItem">
	  <ion-label position="stacked" class="otherlabel">Any Other Information </ion-label>
	  <ion-textarea [ngModel] ="otherInfo"  name = "otherInfo" class="otherinfo"
	    value="">
	  </ion-textarea>
</ion-item>
</ion-content>
