<!--ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>school-profile</ion-title>
  </ion-toolbar>
</ion-header-->


<ion-content padding>

	<ion-item class="textField">
	<ion-button class="saveButton" (click)="saveFunc()" block>Save</ion-button>
	</ion-item>
	<ion-item class="textField">
			<ion-label>School Name</ion-label>
			<ion-input placeholder="Enter School Name" [(ngModel)]="spm.name" name = "name"></ion-input>
	</ion-item>

	<ion-item class="textField">
	<ion-label class="dateLabel">Established In</ion-label>
	<ion-datetime display-format="MMM DD, YYYY" [(ngModel)]="spm.establishedYear" name ="establishedYear"></ion-datetime>
</ion-item>
	<ion-item>

		<ion-grid class="radioGroup">
			<ion-row>
				<ion-col>
					<ion-radio-group  [(ngModel)]="spm.location" name = "radio_1">
					<ion-row>
						 <ion-label class="schoolLocatedLabel">School Located</ion-label>
						<ion-col class="radioGroupCol">
								 <ion-label>Rural</ion-label>
						</ion-col>
						<ion-col class="radioGroupCol">   	
								<ion-radio value="rural"  ></ion-radio>
						</ion-col>
						<ion-col class="radioGroupCol">
								<ion-label>Urban</ion-label>
						</ion-col>  
						<ion-col class="radioGroupCol">	
									<ion-radio value="urban" ></ion-radio>
						</ion-col>
						<ion-col class="radioGroupCol">
								<ion-label>Tribal</ion-label>
						</ion-col>  
						<ion-col class="radioGroupCol">	
									<ion-radio value="tribal"  ></ion-radio>
						</ion-col>
					</ion-row>
				</ion-radio-group>  
				</ion-col>
			</ion-row>
	</ion-grid>	  

</ion-item>
	<ion-item class="textField">
	<ion-label>School Address</ion-label>
	<ion-input class="address" [(ngModel)]="spm.address" name = "address">
	</ion-input>
</ion-item>
	<ion-item class="textField">
			<ion-label>School Cluster</ion-label>
			<ion-input placeholder="Enter Input" [(ngModel)]="spm.schoolCluster" name = "schoolCluster"></ion-input>
	</ion-item>
	<ion-item class="textField">
			<ion-label>School Block</ion-label>
			<ion-input placeholder="Enter Input" [(ngModel)]="spm.block" name = "block"></ion-input>
	</ion-item>
	<ion-item class="textField">
			<ion-label>District</ion-label>
			<ion-input placeholder="Enter Input" [(ngModel)]="spm.district" name = "district"></ion-input>
	</ion-item>
	<ion-item class="textField">
			<ion-label>State</ion-label>
			<ion-input placeholder="Enter Input" [(ngModel)]="spm.state" name = "state"></ion-input>
	</ion-item>
	<ion-grid class="radioGroup">
		<ion-row>
			<ion-col>
				<ion-label>School Category</ion-label>
			</ion-col>
		</ion-row>
			<ion-radio-group [(ngModel)]="spm.category.category" name = "category">
			<ion-row>
				<ion-col>
						 <ion-label class="radioLabel">GLPS</ion-label>
						<ion-radio value="GLPS"></ion-radio>
				</ion-col>
				<ion-col>
						 <ion-label class="radioLabel">GHPS</ion-label>
						<ion-radio value="GHPS"></ion-radio>
				</ion-col>
				<ion-col>
						<ion-label class="radioLabel">GMPS</ion-label>
							<ion-radio value="GMPS"></ion-radio>
				</ion-col>
				<ion-col>
						<ion-label class="radioLabel">GHS</ion-label>
							<ion-radio value="GHS"></ion-radio>
				</ion-col>
			</ion-row>
		</ion-radio-group>  
	</ion-grid>

	<ion-grid class="radioGroup">
		<ion-row>
			<ion-col>
				<ion-label>School Type</ion-label>
			</ion-col>
		</ion-row>
			<ion-radio-group [(ngModel)]="spm.type.type" name = "type">
			<ion-row>
				<ion-col class="schoolTypeCol">
						 <ion-label class="radioLabel">BOY</ion-label>
						<ion-radio value="Boys"></ion-radio>
				</ion-col>
				<ion-col class="schoolTypeCol">
						 <ion-label class="radioLabel">GIRL</ion-label>
						<ion-radio value="Girls"></ion-radio>
				</ion-col>
				<ion-col class="schoolTypeCol">
						<ion-label class="radioLabel">Co-Education</ion-label>
							<ion-radio value="Co-Education"></ion-radio>
				</ion-col>
			</ion-row>
		</ion-radio-group>  
	</ion-grid>	
<ion-list>
	<ion-item>
		<ion-label>Medium of instruction</ion-label>
		<ion-select multiple="true" cancelText="Nah" okText="Okay!" [(ngModel)]="spm.medium" name = "medium">
			<ion-select-option value="Kannada">Kannada</ion-select-option>
			<ion-select-option value="English">English</ion-select-option>
			<ion-select-option value="Tamil">Tamil</ion-select-option>
			<ion-select-option value="Telugu">Telugu</ion-select-option>
			<ion-select-option value="Urdu">Urdu</ion-select-option>
			<ion-select-option value="Hindi">Hindi</ion-select-option>
			<ion-select-option value="Other">Others</ion-select-option>
		</ion-select>
	</ion-item>
</ion-list>

<ion-item class="textField">
			<ion-label>School DISE Code</ion-label>
			<ion-input placeholder="Enter Input" [(ngModel)]="spm.diseCode" name = "diseCode"></ion-input>
	</ion-item>

	<ion-item class="textField">
			<ion-label>School E-mail Id</ion-label>
			<ion-input placeholder="Enter Input" [(ngModel)]="spm.emailId" name = "emailId"></ion-input>
	</ion-item>

	<ion-item class="textField">
			<ion-label>Total Students</ion-label>
			<ion-input placeholder="Enter Input" [(ngModel)]="spm.studentCount" name = "studentCount"></ion-input>
	</ion-item>

</ion-content>
