.textField{
    --border-radius: 5px;
    /*--box-shadow: 0px 14px 25px rgba(182, 30, 30, 0.59);*/
}
.textField ion-label{
    width: 250px;
}
.dateLabel{
   max-width: 200px; 
}
.radioGroup{
	width: 100%;
}

ion-radio{
    margin-top: 0px;
}

.schoolLocatedLabel{
    margin-top: 25px;
    margin-left: -10px;
    margin-right: 20px;
}

/*.addressItem{
	height: 150px;
	width: 100%;
}*/

/*ion-textarea{
	height: 116px;
	width:100%;
    background: #c1c4cd;
}

.item-input.sc-ion-label-md-h, .item-input .sc-ion-label-md-h {
    -ms-flex: initial;
    flex: initial;
    width: 50% !important;
    pointer-events: none;
}*/

/*ion-label{
    padding: 12px;
}

ion-radio{
    margin-left: 20px;
}*/

 .headerTextColor{
    text-color: #DEE2DD;
 }

.toolbarStyle{
    background: #3B5999;
}

.radioGroupCol{
    max-width: 60px !important;
    max-height: 30px !important;
    margin-top: 18px;
}

.label-stacked.sc-ion-label-md-h {
   font-size: 16px;
}

.radioLabel{
    margin-right: 10px;
}

.schoolTypeCol{
    max-width: 195px !important;
}

.saveButton{
    
    float: right;
    width: 100px;
    height: 30px;
    font-size: 14px !important;
    font-weight: 700;
}

ion-textarea{
    padding-top: 10px;
}


