<ion-header>
  <ion-toolbar>
    <ion-title>student-details-view</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>   

  <div *ngFor="let m of mediumList">
  <table border="2" > 
    <caption>{{ m.medium }}</caption>
    <tr>
      <th>class number</th>
      <th>No. of boys</th>
      <th>No. of girls</th>
      <th>Section Count</th>
      <th colspan="2">SC<br>boy girl</th>
      <th colspan="2">ST<br>boy girl</th>

    </tr>
    <tr *ngFor="let row of classList">
      <td >{{ row.class }}</td>
      <td> {{ row.totalBoys }}</td>
      <td> {{ row.totalGirls }}</td>
      <td> {{ row.sectionCount }}</td>
      <td>{{ row.scboysNumber }}</td>
      <td> {{ row.scgirlsNumber }}</td>
      <td>{{ row.stboysNumber }}</td>
      <td> {{ row.stgirlsNumber }}</td>

    </tr>
  </table>
<br>
</div>


</ion-content>