
<ion-button color="danger"  (click)="deleteClicked(item)">Delete</ion-button>


  <ion-item>
    <ion-label>Section</ion-label>
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Total Number of Boys</ion-label>
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Total Number of Girls</ion-label>
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>
  
  <ion-button (click)="inClassAddRows()" round>Add</ion-button>
  <ion-list>
      <div *ngFor="let i of inButtonInputRowValue; let ii=index"  style="font-size:smaller">
  
        <app-caste-select [data]="i" ></app-caste-select>
        <br>
      </div>
    </ion-list>
  
    