<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-button slot="end" color="secondary" (click)="logout()">Logout
      <ion-icon name="lock"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button ion-button (click)="navigateSchoolInfo()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
  
  <!----ion-item>
    <ion-input placeholder="Search School Profile" [(ngModel)]='text' (input)='onInputTime($event.target.value)' (ionChange)='onChangeTime($event.target.value)'></ion-input>
    <ion-button class="cancelButton" color="secondary" *ngIf="showCancelButton">
      <ion-icon class="cancelIcon" name="close-circle-outline"></ion-icon>
    </ion-button>
    <ion-button color="secondary" (click)="getSearchResults()">Seach
      <ion-icon name="Search"></ion-icon>
    </ion-button>
    <ion-button color="secondary" (click)="presentAlertPrompt()">Advance Seach
      <ion-icon name="Search"></ion-icon>
    </ion-button>
  </ion-item -->

  <ion-item class="textField" [hidden]="advancedSearchVisible">
    <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search school profile" (ionChange)="searchChanged($event)"></ion-searchbar>
    <ion-button button (click)="advancedSearch()" class="advancedSearch">Advanced Search</ion-button>
  </ion-item>
    <div [hidden]="!advancedSearchVisible">
      <ion-item class="textField">
        <ion-label>School Name</ion-label>
        <ion-input placeholder="Enter School Name" [(ngModel)]="searchName" name = "name"></ion-input>
      </ion-item>
      <ion-item class="textField">
        <ion-label>School City</ion-label>
        <ion-input placeholder="Enter City Name" [(ngModel)]="searchCity" name = "city"></ion-input>
      </ion-item>
      <ion-item class="textField">
        <ion-label>School Cluster</ion-label>
        <ion-input placeholder="Enter Cluster Name" [(ngModel)]="searchCluster" name = "cluster"></ion-input>
      </ion-item>
      <ion-item class="textField">
        <ion-label>School Region</ion-label>
        <ion-input placeholder="Enter Region Name" [(ngModel)]="searchRegion" name = "region"></ion-input>
      </ion-item>
        <ion-button button (click)="advancedSearch()">Search</ion-button>
    </div>    
  <ion-list>
 
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'school-info', 'school-profile', item.school_id]">
      <!----ion-avatar slot="start">
        <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'">
      </ion-avatar-->
 
      <ion-label text-wrap>
        <h3>School Name : {{ item.name }}</h3>
        School Address : {{ item.address }}
      </ion-label>
 
      <!-- <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'game'" name="logo-game-controller-b"></ion-icon> -->
 
    </ion-item>
 
  </ion-list>

    <!----ion-card class="welcome-card" *ngIf="showSearchResult">
      <ion-img src="/assets/schoolImage.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>School Information</ion-card-subtitle>
        <ion-card-title>Cluny Convent High School</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Cluny Convent High School, Malleswaram, India, has been in existence since the year 1948. It is located in a spacious building situated on 11th Main Road, Near 15th Cross, Malleswaram, Bangalore, Karnataka State, India.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://beta.ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://beta.ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://beta.ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://beta.ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list -->
</ion-content>
