.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.cancelButton {
	
	height: 25px;
}

.cancelIcon {
	
	height: 24px;
}

.textField{
    /*--box-shadow: 0px 14px 25px rgba(182, 30, 30, 0.59);*/
    margin-bottom: 5px;
}
.advancedSearch{
	height: 65%;
}
.textField ion-label{
	width: 30%;
}
