.view {
display : none !important;
}
table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	th { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}
.textField{
    --border-radius: 5px;
    /*--box-shadow: 0px 14px 25px rgba(182, 30, 30, 0.59);*/
}

ion-label{
	width: 200px;
}
