<!--ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>student-profile</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content padding>

<h4>Add Classes</h4>


<table border="2" >
  
    <caption>English</caption>
    <tr>
        <th>class number</th>
        <th>No. of boys</th>
        <th>No. of girls</th>
        <th>Section Count</th>
        <th colspan="2">SC<br>boy  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; girl</th>
        <th colspan="2">ST<br>boy  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;girl</th>
        <th>Action</th>
    </tr>
    <tr>
      <td>    <ion-input placeholder="Input"  [(ngModel)]="this.studentPM.class"></ion-input> </td>
      <td>    <ion-input placeholder="Input" [(ngModel)]="this.studentPM.totalBoys"></ion-input> </td>
      
      <td>    <ion-input placeholder="Input" [(ngModel)]="this.studentPM.totalGirls"></ion-input> </td>
      <td>    <ion-input placeholder="Input" [(ngModel)]="this.studentPM.sectionCount"></ion-input> </td>

      <td>    <ion-input placeholder="Input" [(ngModel)]="this.studentPM.scboysNumber"></ion-input> </td>
      <td>    <ion-input placeholder="Input" [(ngModel)]="this.studentPM.scgirlsNumber"></ion-input> </td>
      <td>    <ion-input placeholder="Input" [(ngModel)]="this.studentPM.stboysNumber"></ion-input> </td>
      <td>    <ion-input placeholder="Input" [(ngModel)]="this.studentPM.stgirlsNumber"></ion-input> </td>

      <td>  <ion-button (click)="addRow()" block>Add</ion-button></td>
    </tr>
    <tr *ngFor="let row of modified;" >
    <td>{{ row.class }}</td>
    <td>{{ row.totalBoys }}</td>
    <td>{{ row.totalGirls }}</td>
    <td>{{ row.sectionCount }}</td>
    <td>{{ row.scboysNumber }}</td>
    <td>{{ row.scgirlsNumber }}</td>
    <td>{{ row.stboysNumber }}</td>
    <td>{{ row.stgirlsNumber }}</td>
    <td> <ion-button (click)="deleteRow(row.class)" block>Delete</ion-button></td>

  </tr>
</table>


<!-- ======================= xxxxxx==================================== -->
<!-- 
  <div [hidden]="!shouldHideTable">
<h4>Add/Delete Class</h4>
<div padding>
  <ion-button (click)="addRow()" block>Add New Class Number</ion-button>
</div>
<ion-list>
  <div *ngFor="let i of inputRowValues; let ii=index"  style="font-size:smaller">
    <ion-label><h4> Class {{ class_no }}</h4></ion-label>
    <app-input-row [data]="i" (onDelete)="onDelete($event)"></app-input-row>
  </div>
</ion-list>
</div> -->

<!-- ======================= xxxxxx==================================== -->


<!-- 
<div *ngFor="let m of mediumList" [hidden] = "shouldHideTable">
    <table border="2" > 
      <caption>{{ m.medium }}</caption>
      <tr>
        <th>class number</th>
        <th>No. of boys</th>
        <th>No. of girls</th>
        <th>Section Count</th>
        <th colspan="2">SC<br>boy  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; girl</th>
        <th colspan="2">ST<br>boy  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;girl</th>
        <th>Action</th>
  
      </tr>
      <tr *ngFor="let row of classList">
        <td >{{ row.class }}</td>
        <td> {{ row.totalBoys }}</td>
        <td> {{ row.totalGirls }}</td>
        <td> {{ row.sectionCount }}</td>
        <td>{{ row.scboysNumber }}</td>
        <td> {{ row.scgirlsNumber }}</td>
        <td>{{ row.stboysNumber }}</td>
        <td> {{ row.stgirlsNumber }}</td>
        <td><button (click)="deleteRow(row)">Delete</button></td>
  
      </tr>
    </table>
  <br>
  </div> -->

</ion-content>
