<ion-item>
    <ion-label>SC</ion-label>
<ion-radio slot="start" value="biff" checked></ion-radio>

</ion-item>
<ion-item>
    <ion-label>ST</ion-label>
<ion-radio slot="start" value="biff" ></ion-radio>

</ion-item>
<ion-item>
    <ion-label>OBC</ion-label>
<ion-radio slot="start" value="biff" ></ion-radio>

</ion-item>
<ion-item>
    <ion-label>XYZ</ion-label>
<ion-radio slot="start" value="biff" ></ion-radio>

</ion-item>
<ion-item>
<ion-label>Boys #</ion-label>
<ion-input placeholder="Enter Input"></ion-input>
</ion-item>
<ion-item>
<ion-label>Girls #</ion-label>
<ion-input placeholder="Enter Input"></ion-input>
</ion-item>
