<!--ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header-->
<ion-content padding>
<ion-list>
<ion-item>
  <ion-input type="text" placeholder="Username" [(ngModel)]="userData.userNameOrEmail"></ion-input>
</ion-item>
<ion-item>
  <ion-input type="password" placeholder="Password" [(ngModel)]="userData.password
  "></ion-input>
</ion-item>
</ion-list>
<ion-button expand="block" color="secondary" ion-button (click)="Login()">Login
</ion-button>
</ion-content>
